<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <title></title>
</head>

<body>
    <main id="container">
        <h1 id="counter">The button has been pushed <span id='count'>0</span> time(s)</h1>
        <h3>Push the button to update the count!</h3>
        <button id="main" class="btn btn-primary btn-lg">Push the epic button</button>
        <h4></h4>
        <button id="reset" class='btn btn-danger btn-lg'>Reset</button>
        
        
        
    </main>
</body>

</html>